@page "/"

<PageTitle>Index</PageTitle>

<h2 class='d-flex justify-content-center'> @title </h2>
<p> <b>Year:</b> @year </p>
<p> <b>Genre:</b> @genre </p>
<p> <b>IMDb Rating:</b> @rating </p>
<p> <b>Description:</b> @description </p>

<button class="btn btn-primary" @onclick="GetRandomMovie">Generate random movie</button>

@code {
    private string title = "...";
    private string year = "...";
    private string genre = "...";
    private string rating = "...";
    private string description = "...";

    private void GetRandomMovie(){
        title = "Movie 1";
        year = "2000";
        genre = "Horror";
        rating = "7.4";
        description = "this movie is about...";
    }

    //https://imdb-api.com/en/API/Title/k_12345678/tt0110413

    protected override void OnInitialized(){
        GetRandomMovie();
    }
}
