
@page "/"
@using BlazorApp.Data
@inject MovieRandomService RandomService

<PageTitle>Index</PageTitle>

<h2 class='d-flex justify-content-center'> @title </h2>
<p> <b>Year:</b> @year </p>
<p> <b>Genres:</b> @genres </p>
<p> <b>IMDb Rating:</b> @rating </p>
<p> <b>Description:</b> @description </p>

<button class="btn btn-primary" @onclick="GetRandomMovie">Suggest new movie</button>

@code {

    private string title = "...";
    private string year = "...";
    private string genres = "...";
    private string rating = "...";
    private string description = "...";

    private Movie m;
    private void GetRandomMovie(){
        m = RandomService.GetMovie();
        title = m.title;
        year = m.year;
        genres = m.genres;
        rating = m.rating;
        description = m.description;
    }

    protected override void OnInitialized(){
        GetRandomMovie();
    }
}
