@page "/"

<PageTitle>Index</PageTitle>

<h2 class='d-flex justify-content-center'> @title </h2>
<p> <b>Year:</b> @year </p>
<p> <b>Genre:</b> @genre </p>
<p> <b>IMDb Rating:</b> @rating </p>
<p> <b>Description:</b> @description </p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string title = "Movie 1";
    private int year = 2000;
    private string genre = "Horror";
    private string rating = "7.4";
    private string description = "this movie is about..";

    private void GetRandomMovie(){
        
    }
}
